# GIT IGNORE OPTIONS:
# State and list which files in the repository to ignore.
# This is useful for ignoring large files that you don't want to be part of the repository.
# The files are ignored in the repository and not pushed to source control.

**/.DS_Store